@charset "UTF-8";

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Logo {
  margin: 10px auto;
  width: 50%;
}

#title {
  background-color: #DCDCDC;
  color: #000000;
  padding-bottom: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#third_§ {
  background-color: #DCDCDC;
  color: #000000;
  padding-bottom: 30px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

section {
  text-align: center;
}

.btn__inactive {
  width: 100%;
  border-radius: 0%;
  padding: 15px 0 15px 0;
  border-right-width: 0px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-width: 0px;
  border-left-style: solid;
  border-bottom-width: 0px;
  border-top: none;
}

.btn__inactive div {
  text-align: left;
  padding-left: 25%;
}

h2 {
  width: 80%;
  text-align: center;
  margin: 50px auto 20px auto;
  font-size: x-large;
  color: #000000;
  line-height: initial;
}

.btn__explore {
  padding: 15px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2rem;
  border: #9356DC;
  background-color: #9356DC;
  color: #ffffff;
  transition: 1s;
}

.btn__explore:hover {
  -webkit-box-shadow: 10px 5px 5px #9356DC;
  box-shadow: 10px 5px 5px #9356DC;
  background-color: #be99ea;
}

#boutons_menu {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#boutons_menu i:hover {
  color: #9356DC;
}

.btn {
  width: 80%;
  margin: 0px auto 20px auto;
  padding: 20px 8px 20px 8px;
  border-radius: 20px;
  color: #000000;
  background-color: rgb(227, 227, 227);
  font-weight: bold;
  transition: 1s;
  text-align: left;
}

.btn:hover {
  -webkit-box-shadow: 10px 5px 5px #9356DC;
  box-shadow: 10px 5px 5px #9356DC;
  background-color: #f5f5f5;
}

#second_§ {
  padding-top: 40px;
  padding-bottom: 30px;
}

#second_§ i {
  color: gray;
  margin-left: 25px;
  padding-left: 0px;
  padding-right: 10px;
}

h3 {
  margin: 0 0 30px 5%;
  text-align: left;
  color: #000000;
  font-family: 'Shrikhand';
}

h4 {
  font-family: 'Shrikhand', cursive;
  font-size: larger;
}

.spinner, .spinner::after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
} 

.spinner {
  margin: 60px auto;
  font-size: 10px;
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
  
}

.spinner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  overflow: hidden;
  border-top: 3px solid #FF79DA;
  border-left: 3px solid #99e2d0;
  border-right: 3px solid #9356dc;
  border-radius: 50%;
  animation: loader 3s;
  opacity: 0;
}

.spinner::after {
  box-sizing: border-box;
  z-index: 10002;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border-top: 6px solid #99e2d0;
  border-left: 6px solid #9356DC;
  border-right: 6px solid #FF79DA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: loader_mini 3s;
  opacity: 0;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes loader_mini {
  0% {
    transform: rotate(360deg);
    opacity: 1;
  }

  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

.background_spinner {
  content: "";
  position: absolute;
  color: white;
  animation: loading_background 4s;
  background-color: currentColor;
  height: 300%;
}

@keyframes loading_background {
  0% {
    color: #9356DC;
    width: 100%;
    opacity: 1;
  }

  45% {
    color: #FF79DA;
  }

  66% {
    color: #99E2D0;
  }

  100% {
    color: #ffffff;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.numberCircle {
  border-radius: 100%;
  padding: 6px 8px 6px 8px;
  margin-left: -15px;
  background: purple;
  color: #ffffff;
  text-align: center;
  line-height: 6px;
  position: initial;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  background-color: white;
}

body {
  width: 100%;
  font-family: 'Roboto'sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: whitesmoke;
  margin: 0px;
}

footer {
  background-color: #424242;
  color: #ffffff;
  padding: 5%;
  font-family: 'Roboto''light 300';
  font-size: larger;
}

footer a {
  color: #ffffff;
}

footer p {
  padding-bottom: 5px;
}

.fas.fa-heart {
  opacity: 0;
  margin-left: -20.5px;
  transition: all 1s ease-out;
}

.fas.fa-heart:hover {
  opacity: 1;
  color: #9356DC;
}

footer p:first-child {
  font: 1em/100%, "Shrikhand", Arial, sans-serif;
  padding-bottom: 5px;
}

.btn_resto {
  border-radius: 5%;
  margin-bottom: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  border-right-width: 0px;
  border-right-style: solid;
  border-left-width: 0px;
  border-left-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  position: relative;
  background-color: #ffffff;
}

.btn_resto:hover {
  -webkit-box-shadow: 10px 5px 5px #9356DC;
  box-shadow: 10px 5px 5px #9356DC;
}

.btn_resto:focus,
.btn__explore:focus {
  outline: none;
}

.btn_resto span {
  padding-left: -15px;
}

.btn_resto p {
  text-align: justify;
  padding-left: 3%;
  margin-bottom: 0px;
}

.like_btn {
  float: right;
  margin-top: -9%;
  margin-right: 5%;
  position: absolute;
  right: 2%;
}

img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 1;
}

.btn_test span {
  z-index: 2;
  float: right;
  margin: 4% 0 0 -28%;
  background-color: #99E2D0;
  color: green;
  padding: 5px 10px;
  border-radius: 5%;
  font-weight: bold;
  position: absolute;
  top: 5%;
  right: 5%;
}

#purpose span {
  padding-left: 7px;
}

/*# sourceMappingURL=main.css.map */