header {
  display: flex;
}

#Logo {
  margin: 10px auto;
  width: 50%;
}

#title,
#third_§ {
  background-color: #DCDCDC;
  color: #000000;
  padding-bottom: 30px;
}

section {
  text-align: center;
}

.btn__inactive {
  width: 100%;
  border-radius: 0%;
  padding: 15px 0 15px 0;
  border-right-width: 0px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-width: 0px;
  border-left-style: solid;
  border-bottom-width: 0px;
}

.btn__inactive div {
  text-align: left;
  padding-left: 25%;
}

h2 {
  text-align: center;
  margin: 50px 0 20px 0;
  font-size: x-large;
  color: #000000;
  line-height: initial;
}

.btn__explore {
  padding: 15px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2rem;
  background-color: #9356DC;
  color: #ffffff;
}

#boutons_menu i:hover {
  color: #9356DC;
}

.btn__explore:hover {
  box-shadow: 10px 5px 5px #9356DC;
}

.btn {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0px;
  padding: 20px 0px 20px 25px;
  text-align: left;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
}

.btn span {
  padding-left: 15px;
}

.btn .fas {
  padding-left: 15px;
}

#second_§,
#third_§ {
  padding-top: 40px;
}

h3 {
  margin: 0 0 30px 4%;
  text-align: left;
  color: #000000;
}

.numberCircle {
  border-radius: 100%;
  width: 6px;
  height: 6px;
  padding: 8px;
  margin-top: 4%;
  margin-left: -3%;
  background: purple;
  border: 2px solid #666;
  color: #ffffff;
  text-align: center;
  font: 12px Arial, sans-serif;
  line-height: 6px;
  position: absolute;
}

#main {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 90%;
  background-color: white;
}

body {
  font: 1em/100% Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

#second_§ {
  padding-bottom: 30px;
}

#second_§ i {
  color: gray;
}

footer {
  background-color: black;
  color: #ffffff;
  padding: 5%;
}

footer a {
  color: #ffffff;
}

#third_§ {
  display: flex;
  flex-direction: column;
}

.btn_resto {
  border-radius: 5%;
  margin-bottom: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  border-right-width: 0px;
  border-right-style: solid;
  border-left-width: 0px;
  border-left-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
}

.btn:hover,
.btn_resto:hover {
  box-shadow: 10px 5px 5px #9356DC;
}

img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 1;
}

.btn_test span {
  z-index: 2;
  float: right;
  margin: 4% 0 0 -22%;
  background-color: #99E2D0;
  color: green;
  padding: 5px 10px;
  border-radius: 5%;
  font-weight: bold;
  position: absolute;
}

.btn_resto span {
  padding-left: -15px;
}

.btn_resto p {
  text-align: justify;
  padding-left: 3%;
}

footer p:first-child {
  font: 1em/100%, "Shrikhand", Arial, sans-serif;
  padding-bottom: 5px;
}

#purpose span {
  padding-left: 7px;
}

/*# sourceMappingURL=main.css.map */