@charset "UTF-8";
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes loading_background {
  0% {
    color: #9356DC;
    width: 100%;
    height: 200%;
  }
  45% {
    color: #FF79DA;
  }
  66% {
    color: #99E2D0;
  }
  100% {
    color: #ffffff;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes loading_background {
  0% {
    color: #9356DC;
    width: 100%;
    height: 100%;
  }
  45% {
    color: #FF79DA;
  }
  66% {
    color: #99E2D0;
  }
  100% {
    color: #ffffff;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes loader_mini {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
  }
}

@-webkit-keyframes loader_mini {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes affichage_menu {
  from {
    margin-top: 100%;
    width: 100%;
  }
  to {
    margin-bottom: 0%;
    width: 100%;
  }
}

@-webkit-keyframes affichage_menu {
  0% {
    margin-top: 100%;
    width: 100%;
  }
  100% {
    margin-bottom: 0%;
    width: 100%;
  }
}

@keyframes future_check {
  from {
    margin-right: -4.2em;
  }
  to {
    margin-right: 0;
  }
}

@-webkit-keyframes future_check {
  0% {
    margin-right: -4.2em;
  }
  100% {
    margin-right: 0;
  }
}

@keyframes rotate_i {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate_i {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#boutons_menu {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.btn {
  width: 90%;
  margin: 0px auto 20px auto;
  padding: 15px 8px 15px 8px;
  border-radius: 20px;
  color: #424242;
  background-color: #e5e5de;
  font-weight: bold;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: left;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-box-shadow: 10px 5px 5px #9356DC;
  box-shadow: 10px 5px 5px #9356DC;
  background-color: #f5f5f5;
}

.btn:hover i {
  color: #9356DC;
}

.btn_nouveau {
  background-color: #ffffff;
}

.btn_nouveau strong {
  z-index: 2;
  float: right;
  margin: 4% 0 0 -28%;
  background-color: #99E2D0;
  color: green;
  padding: 5px 10px;
  border-radius: 5%;
  font-weight: bold;
  position: absolute;
  top: 1em;
  right: 1em;
}

.btn_explore {
  padding: 15px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 1.1em;
  margin: 4px 2px;
  border-radius: 2rem;
  border: #9356DC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

.btn_explore:hover {
  cursor: pointer;
  -webkit-box-shadow: 10px 5px 5px #9356DC;
  box-shadow: 10px 5px 5px #9356DC;
}

.btn_explore:focus {
  outline: none;
}

.btn_resto {
  border-radius: 5%;
  margin-bottom: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  border-right-width: 0px;
  border-right-style: solid;
  border-left-width: 0px;
  border-left-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  position: relative;
  background-color: #ffffff;
}

.btn_resto:hover {
  -webkit-box-shadow: 10px 5px 5px #9356DC;
  box-shadow: 10px 5px 5px #9356DC;
}

.btn_resto:focus {
  outline: none;
}

.btn_plat {
  width: 90%;
  height: 50px;
  margin: 0px auto 20px auto;
  padding: 10px 0px 3px 5%;
  border-radius: 20px;
  color: #424242;
  background-color: #ffffff;
  text-align: left;
  font-size: 1.1em;
  font-family: 'Roboto light';
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn_plat p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 20px 10px 0px;
  font-style: normal;
  font-size: large;
}

.btn_plat span {
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn_plat:hover {
  -webkit-box-shadow: 5px 5px 5px #9356DC;
  box-shadow: 5px 5px 5px #9356DC;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
}

.btn_plat:hover .check_over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  animation: future_check 950ms both;
  -webkit-animation: future_check 950ms both;
}

.btn_order {
  padding: 15px 40px 15px 40px;
  margin-top: 25px;
  margin-bottom: 35px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
  outline: none;
}

.btn_order:hover {
  background-color: #a877e3;
  -webkit-box-shadow: 10px 5px 5px #9356DC;
  box-shadow: 10px 5px 5px #9356DC;
  cursor: pointer;
}

.btn_inactive {
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  background: #e5e5de;
  border-radius: 0%;
  padding: 15px 0 15px 0;
  border-right-width: 0px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-width: 0px;
  border-left-style: solid;
  border-bottom-width: 0px;
  border-top: none;
}

.btn_inactive div {
  text-align: left;
  padding-left: 25%;
}

.contenu_btn {
  margin-top: -20px;
  margin-left: 15px;
  font-size: 1em;
}

@media screen and (min-width: 760px) {
  #boutons_menu {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .btn {
    margin-right: 1em;
    margin-left: 1em;
  }
  .btn_explore {
    margin-top: 2em;
    margin-bottom: 1.5em;
  }
}

.heart_place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 1.3em 0.5em 0 0;
  font-size: x-large;
}

.heart_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: initial;
  font-size: xx-large;
  margin: -0.7em 0.5em 0 0;
}

.fas.fa-heart {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  outline: none;
  display: initial;
}

.fas.fa-heart:hover {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px #ffffff;
}

@media screen and (min-width: 760px) {
  .heart_place {
    font-size: xx-large;
    margin-top: 1.1em;
  }
}

body {
  width: 100%;
  font-family: 'Roboto', 'calibri', sans-serif;
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0px;
  color: #424242;
}

section {
  text-align: center;
  background-color: #eceff1;
}

h1 {
  color: #424242;
  text-align: left;
  margin: 8% 0px 8% 4%;
  padding-top: 40px;
  font-family: 'Shrikhand', cursive;
  font-size: 1.3em;
  letter-spacing: 1px;
  position: relative;
}

h1 i {
  position: initial;
  float: right;
  margin-top: 1.5%;
  margin-right: 6%;
  cursor: pointer;
}

h2 {
  width: 80%;
  text-align: center;
  margin: 50px auto 20px auto;
  font-size: x-large;
  color: #424242;
  line-height: initial;
}

h3 {
  color: #424242;
  height: 35px;
  text-align: left;
  margin: 9% 0px 9% 5%;
  font-family: 'Roboto', 'light', sans-serif;
  font-size: 1em;
  font-weight: 400;
  animation-duration: 3s;
  animation-delay: 0ms;
  animation-name: affichage_menu;
  animation-iteration-count: initial;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0ms;
  -webkit-animation-name: affichage_menu;
  -webkit-animation-iteration-count: initial;
}

h4 {
  font-size: larger;
  font-family: 'Shrikhand', cursive;
}

h5 {
  margin: 0 0 30px 5%;
  text-align: left;
  color: #424242;
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
  margin-bottom: 0px;
  margin-top: 0.7em;
}

@media screen and (min-width: 760px) {
  h1 {
    font-size: 1.6em;
  }
  h1 strong {
    font-size: 1.8em;
    text-align: center;
  }
  h1 i {
    position: absolute;
    margin: 0 0 0 2.9em;
  }
  h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
  }
  h4 {
    text-align: center;
    font-size: 2.2em;
  }
  h5 {
    text-align: center;
  }
}

footer {
  background-color: #424242;
  color: #ffffff;
  padding: 5%;
  font-family: 'Roboto light';
  font-size: larger;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer p {
  padding-bottom: 5px;
}

@media screen and (min-width: 760px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #content_footer {
    text-align: center;
    display: block;
  }
}

/*css restos/*/
header {
  display: block;
  text-align: center;
}

header button {
  background-color: #ffffff;
}

#Logo {
  margin: 10px auto;
  width: 50%;
}

#logo_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}

#logo_index i {
  font-size: larger;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0.5em;
  left: 1.1em;
  color: #424242;
}

#titre_page_resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.1em;
}

.infos_resto_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin-left: 0.5em;
}

.infos_resto_index p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  margin-top: 0.4em;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

#photo_menu {
  width: 100%;
}

#menu {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin: -25% auto 0px auto;
  position: relative;
  padding-top: 0px;
  background-color: #eceff1;
}

.underline {
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 8px;
}

.contenu_plat {
  overflow: hidden;
  text-overflow: ellipsis;
}

.check_over {
  width: 15%;
  height: 50px;
  padding: 10px 0px 3px 0px;
  margin-top: -10px;
  margin-left: 10px;
  float: right;
  background-color: #99E2D0;
  border-bottom-right-radius: 20%;
  border-top-right-radius: 20%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: none;
}

.fas.fa-check {
  margin: auto;
  color: #99E2D0;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 100%;
  animation: rotate_i 1s both;
  animation-delay: 50ms;
  animation-iteration-count: initial;
  -webkit-animation: rotate_i 1s both;
  -webkit-animation-delay: 50ms;
  -webkit-animation-iteration-count: initial;
}

.fas,
.fa {
  border: none;
  font-size: 0.999em;
}

/*/ css index */
header {
  display: block;
}

#first_§ {
  background-color: #DCDCDC;
  color: #424242;
  padding-bottom: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#first_§ p {
  line-height: 1.2em;
  font-size: 1.1em;
}

.second_§ {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 30px;
}

.second_§ i {
  color: #868181;
  margin-left: 5%;
  padding-left: 0px;
  padding-right: 2%;
}

.third_§ {
  background-color: #DCDCDC;
  color: #424242;
  padding-bottom: 30px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.spinner,
.spinner::after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.spinner {
  margin: 60px auto;
  font-size: 10px;
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
}

.spinner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  overflow: hidden;
  border-top: 3px solid #FF79DA;
  border-left: 3px solid #99E2D0;
  border-right: 3px solid #9356DC;
  border-radius: 50%;
  animation: loader 3s;
  -webkit-animation: loader 3s;
  opacity: 0;
}

.spinner::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10002;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border-top: 6px solid #99E2D0;
  border-left: 6px solid #ffffff;
  border-right: 6px solid #FF79DA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: loader_mini 3s;
  -webkit-animation: loader_mini 3s;
  opacity: 0;
}

.background_spinner {
  content: "";
  position: absolute;
  color: #ffffff;
  animation: loading_background 4s;
  -webkit-animation: loading_background 4s;
  background-color: currentColor;
  height: 300%;
  z-index: 4;
}

.numberCircle {
  border-radius: 100%;
  padding: 6px 11px 6px 11px;
  margin-left: -15px;
  background: #9356DC;
  color: #ffffff;
  text-align: center;
  line-height: 6px;
  position: initial;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  background-color: white;
}

.texte_menu {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.texte_menu span {
  margin-bottom: 0px;
  margin-top: 5px;
  padding-left: 0px;
}

.photo_restaurant_index {
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 1;
}

#purpose span {
  padding-left: 7px;
}

@media screen and (min-width: 425px) {
  .contenu_btn {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 760px) {
  .texte_menu {
    text-align: center;
  }
  .restaurants h3 {
    text-align: center;
  }
  #logo_index i:hover {
    color: #9356DC;
  }
  .restos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restos.restaurants-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 350px;
  }
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .underline {
    border-bottom-width: 3px;
  }
}
/*# sourceMappingURL=main.css.map */