@import "sass/utils/variables";
@import "sass/utils/_keyframes.scss";
@import "sass/utils/_mixins.scss";

@import "sass/components/_buttons.scss";
@import "sass/base/base.scss";

@import "sass/layout/_footer.scss";



/*css restos/*/

header {
	display: block;
	text-align: center;
}

header button {
	background-color: $color_white;
}

#logo_index {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
}

#logo_index i {
	font-size: larger;
	position: absolute;
	display: flex;
	top: 0.5em;
	left: 1.1em;
	color: $color_font-footer;
}

#Logo {
	margin: 10px auto;
	width: 50%;
}

#titre_page_resto {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: 1.1em;
}
.heart_place {
	display: flex;
	position: relative;
	margin: 1.3em 0.5em 0 0;
	font-size: x-large;
}
.heart_index {
	display: flex;
	position: initial;
	font-size: xx-large;
	margin: -0.7em 0.5em 0 0;
}
.infos_resto_index {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	text-align: left;
	margin-left: 0.5em;
	p {
		display: inline-flex;
		justify-content: inherit;
		margin-top: 0.4em;
	}
}

h6 {
	font-size: 1.1em;
	margin-bottom: 0px;
	margin-top: 0.7em;
}


#main {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	width: 90%;
}

#photo_menu {
	width: 100%;
}

#menu {
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	margin: -25% auto 0px auto;
	position: relative;
	padding-top: 0px;
	background-color: #eceff1;
}

h1 i {
	position: initial;
	float: right;
	margin-top: 1.5%;
	margin-right: 6%;
	cursor: pointer;
}

.btn_plat:hover .check_over {
	display: flex;
	animation: future_check 950ms both;
	-webkit-animation: future_check 950ms both;
}

.underline {
	border-bottom: 2px solid $color_third;
	padding-bottom: 8px;
}

.contenu_plat {
	overflow: hidden;
	text-overflow: ellipsis;
}

.check_over {
	width: 15%;
	height: 50px;
	padding-top: 10px;
	padding-bottom: 3px;
	margin-top: -10px;
	margin-left: 10px;
	float: right;
	background-color: $color_third;
	border-bottom-right-radius: 20%;
	border-top-right-radius: 20%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: none;
}

.fas.fa-check {
	margin: auto;
	color: $color_third;
	background-color: $color_white;
	padding: 5px;
	border-radius: 100%;
	animation: rotate_i 1s both;
	animation-delay: 50ms;
	animation-iteration-count: initial;
	-webkit-animation: rotate_i 1s both;
	-webkit-animation-delay: 50ms;
	-webkit-animation-iteration-count: initial;
}

.btn_plat:hover {
	-webkit-box-shadow: 5px 5px 5px $color_primary;
	box-shadow: 5px 5px 5px $color_primary;
	background-color: $color_white;
	cursor: pointer;
	transition: 0.5s;
	display: block;
}

.fas,
.fa {
	border: none;
	font-size: 0.999em;
}

.fas.fa-heart {
	position: absolute;
	left: auto;
	top: auto;
	right: auto;
	opacity: 0;
	transition: all 1s ease-out;
	outline: none;
	display: initial;
}

.fas.fa-heart:hover {
	opacity: 1;
	color: $color_primary;
}

.far.fa-heart:hover {
	opacity: 0;
}

#purpose span {
	padding-left: 7px;
}
	

/*/ css index */

header {
	display: block;
}

#title {
	background-color: $color_btn;
	color: $color_font-footer;
	padding-bottom: 30px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#title p {
	line-height: 1.2em;
	font-size: 1.1em;
}

.third_§ {
	background-color: $color_btn;
	color: $color_font-footer;
	padding-bottom: 30px;
	padding-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

h2 {
	width: 80%;
	text-align: center;
	margin: 50px auto 20px auto;
	font-size: x-large;
	color: $color_font-footer;
	line-height: initial;
}

.second_§ {
	padding-top: 40px;
	padding-bottom: 30px;
}

.second_§ i {
	color: #868181;
	margin-left: 5%;
	padding-left: 0px;
	padding-right: 2%;
}

h3 {
	margin: 0 0 30px 5%;
	text-align: left;
	color: $color_font-footer;
}

.spinner,
.spinner::after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.spinner {
	margin: 60px auto;
	font-size: 10px;
	position: absolute;
	top: 30%;
	left: 30%;
	right: 30%;

}

.spinner::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10001;
	overflow: hidden;
	border-top: 3px solid $color_secondary;
	border-left: 3px solid $color_third;
	border-right: 3px solid $color_primary;
	border-radius: 50%;
	animation: loader 3s;
	-webkit-animation: loader 3s;
	opacity: 0;
}

.spinner::after {
	box-sizing: border-box;
	z-index: 10002;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	border-top: 6px solid $color_third;
	border-left: 6px solid $color_white;
	border-right: 6px solid $color_secondary;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: loader_mini 3s;
	-webkit-animation: loader_mini 3s;
	opacity: 0;
}

.background_spinner {
	content: "";
	position: absolute;
	color: $color_white;
	animation: loading_background 4s;
	-webkit-animation: loading_background 4s;
	background-color: currentColor;
	height: 300%;
	z-index: 4;
}

.numberCircle {
	border-radius: 100%;
	padding: 6px 11px 6px 11px;
	margin-left: -15px;
	background: $color_primary;
	color: $color_white;
	text-align: center;
	line-height: 6px;
	position: initial;
}

#main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 90%;
	background-color: white;
}

.texte_menu span {
	margin-bottom: 0px;
	margin-top: 5px;
	padding-left: 0px;
}


.photo_restaurant_index {
	width: 100%;
	border-radius: 10px 10px 0 0;
	position: relative;
	z-index: 1;
}

.texte_menu {
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

#purpose span {
	padding-left: 7px;
}


@media screen and (min-width: 425px) {
	.contenu_btn {
		font-size: 1.2em;
	}
}


@media screen and (min-width: 760px) {

	.heart_place {
		font-size: xx-large;
		margin-top: 1.1em;
	}

	.texte_menu {
		text-align: center;
	}

	#content_footer {
		text-align: center;
		display: block;
	}

	.footer-logo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.footer-a {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#content_footer {
		text-align: center;
		display: block;
	}

	.restaurants h3 {
		text-align: center;
	}

	#logo_index i:hover {
		color: $color_primary;
	}

	.restos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.restos .restaurants-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 350px;
	}

	#menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	h1 strong {
		font-size: 1.8em;
		text-align: center;
	}

	h1 i {
		position: absolute;
		margin: 0 0 0 2.9em;
	}

	h3 {
		width: 100%;
		text-align: center;
		font-size: 1.5em;
	}

	.underline {
		border-bottom-width: 3px;
	}
}



/*# sourceMappingURL=main.css.map */