header {
    display: flex;
}

header a {
    position: absolute;
    left: 10%;
    top: 3%;
    color: #000000;
}

header button {
    background-color: #ffffff;
}

section {
    text-align: center;
    background-color: #eceff1;
    padding-bottom: 30px;
}

#Logo {
    margin: 10px auto;
    width: 50%;
}

#main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 90%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
}

#La_note_enchantee {
    width: 100%;
}

#menu {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin: -25% auto 0px auto;
    position: relative;
    padding-top: 0px;
    background-color: #eceff1;
}

#menu i {
    position: absolute;
    top: 4.3%;
    right: 7.5%;
    cursor: pointer;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
  }

h1 {
    color: black;
    text-align: left;
    margin: 8% 0px 8% 4%;
    padding-top: 40px;
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    letter-spacing: 1px;
}

h3 {
    color: black;
    text-align: left;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 5%;
    font-family: 'Roboto light 300';
}

h4 {
    font-family: 'Shrikhand', cursive;
    font-size: larger;
}

.underline {
    border-bottom: 2px solid #99E2D0;
    padding-bottom: 8px;
}

.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn_plat {
    width: 90%;
    margin: 0px auto 20px auto;
    padding: 10px 0px 3px 5%;
    border-radius: 20px;
    color: #000000;
    background-color: white;
    text-align: left;
    font-size: larger;
    font-family: 'Roboto light';
}

.btn_plat p {
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: normal;
    font-size: large;
}

.btn_plat span {
    right: 10%;
    position: absolute;
    font-weight: bold;
}

.btn_plat:hover {
    -webkit-box-shadow: 10px 5px 5px #9356DC;
    box-shadow: 10px 5px 5px #9356DC;
    background-color: whitesmoke;
    cursor: pointer;
    transition: 0.5s;
}

.btn_order {
    padding: 15px 40px 15px 40px;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    border-radius: 2rem;
    background-color: #9356DC;
    color: #ffffff;
    transition: 1s;
}

.btn_order:hover {
    background-color: #a877e3;
    -webkit-box-shadow: 10px 5px 5px #9356DC;
    box-shadow: 10px 5px 5px #9356DC;
    cursor: pointer;
}

.btn_order:focus,
.btn_plat:focus {
    outline: none;
}

footer {
    background-color: #424242;
    color: #ffffff;
    padding: 5%;
    font-family: 'Roboto''light 300';
    font-size: larger;
}

footer a {
    color: #ffffff;
}

footer p {
    padding-bottom: 5px;
}

.fas,
.fa {
    border: none;
    font-size: 0.999em;
}

.fas.fa-heart {
    opacity: 0;
    margin-left: -20.5px;
    transition: all 1s ease-out;
}

.fas.fa-heart:hover {
    opacity: 1;
    color: #9356DC;
}

.far.fa-heart:hover {
    opacity: 0;
}

#purpose span {
    padding-left: 7px;
}c