@mixin h1 {
		color: $color_font-footer;
		text-align: left;
		margin: 8% 0px 8% 4%;
		padding-top: 40px;
		font-family: 'Shrikhand', cursive;
		font-size: 1.3em;
		letter-spacing: 1px;
		position: relative;	
}

@mixin header {
		display: block;
		text-align: center;
}

@mixin footer {
    background-color: $color_font-footer;
    color: $color_white;
    padding: 5%;
    font-family: Roboto;
    font-size: 1.1em;
}

@mixin btn_plat {
	width: 90%;
	height: 50px;
	margin: 0px auto 20px auto;
	padding: 10px 0px 3px 5%;
	border-radius: 20px;
	color: $color_font-footer;
	background-color: $color_white;
	text-align: left;
	font-size: 1.1em;
	font-family: Roboto;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@mixin btn_resto {
    border-radius: 5%;
    margin-bottom: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    border-right-width: 0px;
    border-right-style: solid;
    border-left-width: 0px;
    border-left-style: solid;
    border-top-width: 0px;
    border-top-style: solid;
    position: relative;
    background-color: $color_white;
}

@mixin check_over {
	width: 15%;
	height: 50px;
	padding: 10px 0px 3px 0px;
	margin-top: -10px;
	margin-left: 10px;
	float: right;
	background-color: $color_third;
	border-bottom-right-radius: 20%;
	border-top-right-radius: 20%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: none;
}

